#define ZMK_POINTING_DEFAULT_MOVE_VAL 700  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15    // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    zip_scroll_scaler: zip_scroll_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_WHEEL INPUT_REL_HWHEEL>;
        track-remainders;
    };
};

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&mmv {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <600>;
};

&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <300>;     // 300
    delay-ms = <0>;                   // 0
};

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        to-numpad {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        tog-cfg-1 {
            bindings = <&tog 4>;
            key-positions = <61 59>;
            layers = <1>;
            timeout-ms = <200>;
        };

        tog-cfg-2 {
            bindings = <&tog 4>;
            key-positions = <57 55>;
            layers = <2>;
            timeout-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            display-name = "Zer0";
            bindings = <
&kp GRAVE   &kp N1        &kp N2            &kp N3        &kp N4  &kp N5       &mmv MOVE_UP     &kp N6     &kp N7  &kp N8         &kp N9             &kp N0         &kp MINUS
&kp TAB     &kp Q         &kp W             &kp E         &kp R   &kp T        &mmv MOVE_DOWN   &kp Y      &kp U   &kp I          &kp O              &kp P          &kp LEFT_BRACKET
&kp ESC     &kp A         &kp S             &kp D         &kp F   &kp G        &mmv MOVE_LEFT   &kp H      &kp J   &kp K          &kp L              &kp SEMI       &kp APOS
&kp LSHFT   &kp Z         &kp X             &kp C         &kp V   &kp B        &mmv MOVE_RIGHT  &kp N      &kp M   &kp COMMA      &kp DOT            &kp FSLH       &kp RSHIFT
&kp C_MUTE  &kp LEFT_GUI  &kp LEFT_CONTROL  &kp LEFT_ALT  &mo 2   &kp ENTER    &mkp LCLK        &kp SPACE  &mo 1   &kp RIGHT_ALT  &kp RIGHT_CONTROL  &kp BACKSPACE
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_1 {
            display-name = "L-1";
            bindings = <
&kp ESCAPE    &none   &none   &none   &none   &none     &mmv MOVE_UP     &none          &none           &none           &none            &kp MINUS         &kp EQUAL
&none         &none   &none   &none   &none   &none     &mmv MOVE_DOWN   &kp PAGE_UP    &kp HOME        &kp UP_ARROW    &kp END          &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp CAPSLOCK  &none   &none   &none   &none   &none     &mmv MOVE_LEFT   &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none             &kp ENTER
&trans        &none   &none   &none   &none   &none     &mmv MOVE_RIGHT  &none          &kp BACKSPACE   &none           &kp DELETE       &kp BACKSLASH     &trans
&kp C_MUTE    &trans  &trans  &trans  &trans  &trans    &mkp LCLK        &trans         &trans          &trans          &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        layer_2 {
            display-name = "Fn+NP";
            bindings = <
&kp ESCAPE    &kp F1           &kp F2  &kp F3    &kp F4      &kp F5        &msc SCRL_UP     &kp F6           &kp F7     &kp F8     &kp F9     &kp F10       &kp F11
&trans        &kp PRINTSCREEN  &none   &kp C_PP  &kp C_PREV  &kp C_NEXT    &msc SCRL_DOWN   &kp KP_MULTIPLY  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_MINUS  &kp F12
&kp CAPSLOCK  &none            &none   &none     &none       &none         &msc SCRL_LEFT   &kp KP_DIVIDE    &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_PLUS   &kp ENTER
&trans        &kp KP_NUM       &none   &none     &none       &none         &msc SCRL_RIGHT  &kp KP_N0        &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_DOT    &trans
&kp C_MUTE    &trans           &trans  &trans    &trans      &trans        &mkp LCLK        &kp BACKSPACE    &trans     &trans     &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        layer_mouse {
            display-name = "<'@~";

            bindings = <
&kp ESCAPE  &none   &none   &none   &none      &none     &kp UP_ARROW     &none           &none           &none           &none            &none   &none
&trans      &none   &none   &none   &mkp MCLK  &none     &kp DOWN_ARROW   &msc SCRL_UP    &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &none   &none
&trans      &none   &none   &none   &mkp LCLK  &none     &kp LEFT_ARROW   &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none   &kp ENTER
&trans      &none   &none   &none   &mkp RCLK  &none     &kp RIGHT_ARROW  &none           &none           &none           &none            &none   &trans
&none       &trans  &trans  &trans  &trans     &trans    &none            &trans          &trans          &trans          &trans           &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_cfg {
            display-name = "[cfg]";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &rgb_ug RGB_COLOR_HSB(0,100,50)  &rgb_ug RGB_COLOR_HSB(29,100,50)  &rgb_ug RGB_COLOR_HSB(59,100,50)  &rgb_ug RGB_COLOR_HSB(118,100,50)  &rgb_ug RGB_COLOR_HSB(232,100,50)  &rgb_ug RGB_COLOR_HSB(272,100,50)
&bt BT_CLR      &none         &none         &none         &none         &out OUT_BLE    &none  &rgb_ug RGB_ON                   &rgb_ug RGB_BRI                   &rgb_ug RGB_SPI                   &rgb_ug RGB_EFR                    &rgb_ug RGB_SAI                    &rgb_ug RGB_HUI
&bt BT_CLR_ALL  &none         &none         &none         &none         &out OUT_USB    &none  &rgb_ug RGB_OFF                  &rgb_ug RGB_BRD                   &rgb_ug RGB_SPD                   &rgb_ug RGB_EFF                    &rgb_ug RGB_SAD                    &rgb_ug RGB_HUD
&none           &soft_off     &none         &none         &none         &out OUT_TOG    &none  &rgb_ug RGB_TOG                  &none                             &none                             &none                              &soft_off                          &none
&none           &sys_reset    &bootloader   &none         &tog 4        &none           &none  &none                            &tog 4                            &none                             &bootloader                        &sys_reset
            >;
        };
    };
};
